* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {

  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
a {
    color: #000000de;
}
.main {
  margin-top: 100px;
}

.header {
     padding: 15px 0px;
    width: 100%;
    float: left;
}
.header-main {
  background-color: var(--mainWhite);
}
.logo {
  float:left;
     width: 200px;
}

.menulist {
     height: 80px;
    float: right;
    padding: 15px 0px;
}

.menulist a {
    text-decoration: none;
}

/* category page */
.category a {
    text-decoration: none;
}

/* cat profile page */
.catProfile-avatar {
    flex-basis: auto !important;
}


/* bashboard pages */


/* Navbar */
/*.navbar {
   border-bottom: 1px solid var(--darkGrey);
   position: fixed;
    position: fixed;
    width: 100%;
    padding: 15px;
    background: var(--mainWhite);
    z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 100px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}*/
/* end of navbar */

@media (min-width: 1280px) {



}



